.section-about-wrapper {
}

.section-about {
	background-color: black;
	color: white;
}

.section-about > .row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.about-us {
	padding: 20px;
}

.about-us h2 {
}

.about-us .more-info a {
	color: #F13C3C;
	text-decoration: underline;
}

.about-us .more-info a:hover {
	text-decoration: none;
}

.about-us p {
	padding-top: 1.25rem;
	font-size: 1.25rem;
}

.about-us .social-links a {
}

.about-us .social-links a + a {
	margin-left: 1rem;
}

.about-us .social-links img {
	max-height: 2rem;
}
