.upload-container h3 {
    color: white;
}

.thank-you a.learn-more {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.thank-you a.learn-more:hover {
    text-decoration: none;
}
