.drag-drop-row {
    min-height: 700px;
    margin-top: 50px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: transparent;
    color: white;
}

.up-screen {
    min-height: 100vh;
    padding-top: 8rem;
}

.section-about-wrapper {
    color: black;
}

.section-about {
    background-color: rgba(245, 245, 245, 0.8);
}

.section-about > .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.upload-container {
    width: 80%;
    padding-top: 6.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.dropzone {
    border: 3px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 55px;
    text-align: center;
    font: 21pt bold arial;
}

.custom-header {
    font-size: 36px;
    padding-bottom: 20px;
}

.href-link {
    color: white;
    text-decoration: underline;
    text-underline-style: dotted-heavy;
    cursor: pointer;
}

.href-link:hover {
    color: white;
    text-decoration: none;
}

.about-us {
    padding: 20px;
}

.about-us h2 {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #5A3F37;

}

.bigP {
    padding-top: 20px;
    font-size: 20px;
}

.image-wrapper .window-close-button button {
    background-color: darkred;
    border: 0px;
    color: white;
    text-align: left;
}

.image-wrapper .window-close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.5;
}

.image-wrapper:hover .window-close-button {
    opacity: 1;
}

.image-wrapper:hover .window-close-button button:hover {
    background-color: red;
}

.padded-row {
    padding-top: 5px;
}
