main {
	/*background-color: white;*/
}

.main-page {
	font-size: 1.25rem;
	font-weight: 500;
}

.up-screen {
	min-height: 100vh;
	background-color: white;
	padding-top: 7rem;
	text-align: center;
}

@media (max-width: 400px) {
	.up-screen {
		padding-top: 10rem;
	}
}
