.input-text {
    background: #5A3F37 !important;
    border-color: #5A3F37 !important;
    color: white;
    width: 100px;
}

.form-col {
    border-style: dashed;
    border: 1px #fff;
}

.dropzone {
    width: 300px;
    height: 300px;
    border-radius: 35px;
    margin: auto;
}

.btn-circle.btn-xl {
    width: 300px;
    height: 300px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    color: white;
    border-color: white;
}

.btn-circle {
    width: 300px;
    height: 300px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    color: white;
    border-color: white;
}

.image-form {
    width: 300px;
    margin: auto;
}

.image-wrapper {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.image-wrapper:after {
    display: block;
    content: '';
    padding-top: 100%;
}

.image-wrapper .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

div.finish-uploading {
    cursor: pointer;
}

.upload-form-wrapper span.link-license {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.upload-form-wrapper span.link-license:hover {
    text-decoration: none;
}

pre.license {
    margin: 0;
    padding: 1rem;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: auto;
}

.main-page .up-screen {
    min-height: 60vh;
}
