.image-form .input-group .input-text, .image-form .input-group .input {
	font-size: 0.9rem;
}

.input-text {
	background: #5A3F37 !important;
	border-color: #5A3F37 !important;
	color: white;
	width: 100px;
}

.form-col {
	border-style: dashed;
	border: 1px #fff;
}

.btn-circle.btn-xl {
	width: 300px;
	height: 300px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
	color: white;
	border-color: white;
}

.btn-circle {
	width: 300px;
	height: 300px;
	padding: 6px 0px;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
	color: white;
	border-color: white;
}

.drop-zone-container {
	max-width: 300px;
	margin: auto;
	position: relative;
}

.drop-zone-container:after {
	content: '';
	display: block;
	padding-top: 100%;
}

.drop-zone-container .dropzone {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.dropzone {
	border-radius: 35px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border: 3px dashed #bbb;
	text-align: center;
	padding: 3vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5vw;
}

@media (max-width: 991px) {
	.dropzone {
		font-size: 21pt;
	}
}

.image-form {
	max-width: 300px;
	margin: auto;
}

.image-wrapper {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

.image-wrapper:after {
	display: block;
	content: '';
	padding-top: 100%;
}

.image-wrapper .progress {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0;
}

.image-wrapper .window-close-button button {
	background-color: darkred;
	border: 0px;
	color: white;
	text-align: left;
}

.image-wrapper .window-close-button {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	opacity: 0.5;
}

.image-wrapper:hover .window-close-button {
	opacity: 1;
}

.image-wrapper:hover .window-close-button button:hover {
	background-color: red;
}

div.finish-uploading {
	cursor: pointer;
}

.upload-form-wrapper span.link-license {
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

.upload-form-wrapper span.link-license:hover {
	text-decoration: none;
}

pre.license {
	margin: 0;
	padding: 1rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}
