/* Using web font Public Sans. Reference (2019/06/20): https://github.com/uswds/public-sans */

@font-face {
	font-family: 'PublicSans';
	font-weight: normal;
	font-style: normal;
	src: url("./font/public-sans/PublicSans-Regular.ttf") format("truetype"),
	url("./font/public-sans/PublicSans-Regular.woff") format("woff"),
	url("./font/public-sans/PublicSans-Regular.woff2") format("woff2");
}

@font-face {
	font-family: 'PublicSans';
	font-weight: 500;
	font-style: normal;
	src: url("./font/public-sans/PublicSans-SemiBold.ttf") format("truetype"),
	url("./font/public-sans/PublicSans-SemiBold.woff") format("woff"),
	url("./font/public-sans/PublicSans-SemiBold.woff2") format("woff2");
}

@font-face {
	font-family: 'PublicSans';
	font-weight: bold;
	font-style: normal;
	src: url("./font/public-sans/PublicSans-Bold.ttf") format("truetype"),
	url("./font/public-sans/PublicSans-Bold.woff") format("woff"),
	url("./font/public-sans/PublicSans-Bold.woff2") format("woff2");
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "PublicSans", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

span.button {
	cursor: pointer;
}

span.button.btn-danger {
	background-color: #F13C3C;
	border-radius: 0;
	font-size: 0.9rem;
	font-weight: inherit;
	padding: 0.75rem 0.75rem;
}

span.button.btn-danger:hover {
	background-color: #d93636;
}

h3 {
	padding-bottom: 2rem;
	font-weight: inherit;
	font-size: inherit;
}

.href-link {
	color: #F13C3C;
	text-decoration: underline;
}

.href-link:hover {
	text-decoration: none;
}

span.href-link {
	cursor: pointer;
}
