body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body {
    background: url("images/darkenearth.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.container-fluid {
    padding: 0px !important;
}


/** Fancy box. **/

.fancy-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: rgba(100, 100, 110, 0.5);
}

.fancy-box {
    border: 1px solid silver;
    position: relative;
    margin: auto;
    color: black;
    width: 100%;
    height: 100%;
}

.fancy-box .fancy-bar {
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid silver;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fancy-box .fancy-button {
    text-align: right;
}

.fancy-box .fancy-content {
    background-color: white;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
